	<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<div class="col-md-2 col-md-offset-5">
							<!--a href="#about" class="btn btn-circle page-scroll">
								<i class="fa fa-angle-double-down animated"></i>
							</a-->
						</div>
						<div class="col-md-4 col-md-offset-1 brand">
							<h1 class="brand-heading">VELO</h1>
							<span class="brand-text">Enhance your blinds</span>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>[@page_content@]</p>
            </div>
        </div>
    </section>
	
	<section id="enhance" class="content-section text-center">
		<h2>Enhance your blinds</h2>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="col-lg-6">
						<div class="comparison">
                            <img src="[%ntheme_asset%]css/img/before.jpg[%/ntheme_asset%]" />
							<span>Before</span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="comparison">
                            <img src="[%ntheme_asset%]css/img/after.jpg[%/ntheme_asset%]" />
							<span>After</span>                            
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<p>“We wanted to create something that was easy
						to install, reduced waste and most of all added
						that perfect finishing touch to your greatest
						asset - your home.”</p>
				</div>
			</div>
		</div>
	</section>
	
	<section id="install" class="content-section text-center">
		<h2>Easy to install</h2>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 install-instructions">
					<div class="col-lg-4">
                        <div class="steps">
                            <img src="[%ntheme_asset%]css/img/install-step1.png[%/ntheme_asset%]" />
                        </div>
                        <h3>Step 1</h3>
                        <p>Check which side your roller 
                            chain is on, if you need to
                            swap the position, remove 
                            the side plate and slot it
                            back into the groove on the
                            correct side as shown</p>
					</div>
					<div class="col-lg-4">
                        <div class="steps">
                            <img src="[%ntheme_asset%]css/img/install-step2.png[%/ntheme_asset%]" />
                        </div>
                        <h3>Step 2</h3>
                        <p>Carefully slide your
                            assembled Velo onto your
                            roller blind bracket taking 
                            care not damage the 
                            magnets</p>
                    </div>
					<div class="col-lg-4">                        
                        <div class="steps">
                            <img src="[%ntheme_asset%]css/img/install-step3.png[%/ntheme_asset%]" />
                        </div>
                        <h3>Enjoy!</h3>
                        <div class="video-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/psU3eY5oN08" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="gallery" class="content-section text-center">
		<h2 class="no-spacing">Gallery</h2>
		<div id="jssor_1" class="jssor_wrapper">
            <div data-u="slides" class="jssor_container">
                <div data-p="225.00">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-1.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-2.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-3.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-4.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" data-po="80% 55%" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-5.jpg[%/ntheme_asset%]" />
                </div>
            </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora22l" data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora22r" data-autocenter="2"></span>
        </div>
        <div id="jssor_2" class="jssor_wrapper_mobile">
            <div data-u="slides" class="jssor_container">
                <div data-p="225.00">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-1-m.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-2-m.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-3-m.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-4-m.jpg[%/ntheme_asset%]" />
                </div>
                <div data-p="225.00" data-po="80% 55%" style="display: none;">
                    <img data-u="image" src="[%ntheme_asset%]css/img/gallery-5-m.jpg[%/ntheme_asset%]" />
                </div>
            </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora22l" data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora22r" data-autocenter="2"></span>
        </div>
	</section>
	
	<section id="fit" class="content-section text-center no-spacing">
		<h2 class="no-spacing">VELO will fit most major brands of roller blinds</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6" style="padding: 0">
                    <img src="[%ntheme_asset%]css/img/fit-left.jpg[%/ntheme_asset%]" class="full-width" />
                </div>
                <div class="col-lg-6" style="padding: 0">
                    <img src="[%ntheme_asset%]css/img/fit-right.jpg[%/ntheme_asset%]" class="full-width" />
                </div>
            </div>
        </div>
	</section>