.hamburger {
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger-box {
  width: 40px;
  height: 29px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 1px;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -14px;
}
.hamburger-inner::after {
  bottom: -14px;
}
/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner:after {
  top: -28px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner:before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse:not(.collapsed) .hamburger-inner {
  transform: translate3d(0, -14px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse:not(.collapsed) .hamburger-inner:after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse:not(.collapsed) .hamburger-inner:before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*
 * Collapse Reverse
 */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r .hamburger-inner:after {
  top: -28px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner:before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r:not(.collapsed) .hamburger-inner {
  transform: translate3d(0, -14px, 0) rotate(45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r:not(.collapsed) .hamburger-inner:after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse-r:not(.collapsed) .hamburger-inner:before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger-nav {
  display: none;
}
/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
.jssora22l.jssora22lds      (disabled)
.jssora22r.jssora22rds      (disabled)
*/
.jssor_wrapper_mobile,
.jssor_wrapper {
  display: none;
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1045px;
  overflow: hidden;
  visibility: hidden;
}
@media (min-width: 768px) {
  .jssor_wrapper {
    display: block;
  }
}
.jssor_wrapper_mobile {
  height: 2089px;
}
.jssor_wrapper_mobile .jssor_container {
  height: 2089px;
}
@media (max-width: 768px) {
  .jssor_wrapper_mobile {
    display: block;
  }
}
.jssor_container {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1045px;
  overflow: hidden;
}
.jssora22base {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 60px;
  height: 177px;
  cursor: pointer;
  background: url('img/slider-arrows.png') center center no-repeat;
  overflow: hidden;
  top: 0px;
}
.jssora22l {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 60px;
  height: 177px;
  cursor: pointer;
  background: url('img/slider-arrows.png') center center no-repeat;
  overflow: hidden;
  top: 0px;
  left: 50px;
  background-position: 0 0;
}
.jssora22l.jssora22lds {
  opacity: .3;
  pointer-events: none;
}
.jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 60px;
  height: 177px;
  cursor: pointer;
  background: url('img/slider-arrows.png') center center no-repeat;
  overflow: hidden;
  top: 0px;
  right: 50px;
  background-position: -60px 0;
}
.jssora22r.jssora22rds {
  opacity: .3;
  pointer-events: none;
}
@font-face {
  font-family: 'geometria_lightlight';
  src: url('font/geometria-light-webfont.eot');
  src: url('font/geometria-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/geometria-light-webfont.woff2') format('woff2'), url('font/geometria-light-webfont.woff') format('woff'), url('font/geometria-light-webfont.ttf') format('truetype'), url('font/geometria-light-webfont.svg#geometria_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "geometria_lightlight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: white;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 18px;
}
@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 30px;
  }
}
a {
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #000000;
}
.alpha {
  padding-left: 0;
}
.omega {
  padding-right: 0;
}
.hidden {
  visibility: hidden;
}
.light {
  font-weight: 400;
}
.full-width {
  width: 100%;
}
.navbar-fixed-top {
  position: static;
}
.container.internal-wrapper {
  margin: 20px auto;
  min-height: 570px;
}
.buy-button {
  display: block;
  border: 1px solid #FFF;
  background-color: #008ecc;
  color: #FFF;
  padding: 0 15px;
  text-transform: none;
  font-size: 30px;
  line-height: 48px;
  margin: 5px 0 0;
  border-radius: 6px;
}
.navbar-custom {
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  height: auto;
  font-size: 20px;
  padding: 15px 0 15px 15px;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
@media (max-width: 440px) {
  .navbar-custom .navbar-brand {
    padding-top: 37px;
  }
  .navbar-custom .navbar-brand dl {
    display: none;
  }
}
.navbar-custom .navbar-brand dl {
  text-transform: none;
  margin: 0;
}
.navbar-custom .navbar-brand dl dt {
  font-size: 15px;
  margin: 0 0 0 30px;
  font-weight: normal;
}
.navbar-custom .navbar-brand dl dt i {
  font-weight: bold;
}
.navbar-custom .navbar-brand dl dd {
  font-size: 10px;
}
.navbar-custom a {
  color: #FFF;
}
.navbar-custom .navbar-collapse {
  clear: both;
  border-top: 1px solid #FFF;
}
.navbar-custom .nav li {
  float: none;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: #FFF;
}
.navbar-custom .nav > li.dropdown.open {
  position: static;
}
.navbar-custom .nav > li.dropdown.open .dropdown-menu {
  display: table;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}
.navbar-custom .dropdown-menu > li {
  display: table-cell;
}
.navbar-custom .navbar-header:after {
  clear: none;
}
.navbar-custom .menu-nav {
  float: right;
  margin: 15px 0;
  padding: 0;
  list-style: none;
}
.navbar-custom .menu-nav li {
  float: left;
  padding: 0 15px 0 0;
}
@media (max-width: 440px) {
  .navbar-custom .menu-nav li {
    padding-right: 5px;
  }
}
.navbar-custom .menu-nav li:last-child {
  border: none;
  padding: 0;
}
.navbar-custom .menu-nav .ico-cart {
  text-indent: -9999em;
  display: block;
  width: 45px;
  height: 35px;
  margin: 15px 20px;
  background: transparent url(img/icon-cart.png) no-repeat 0 0;
}
.navbar-custom .menu-nav .ico-cart:hover {
  opacity: 0.7;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar-custom .navbar-nav {
    float: none;
  }
  .navbar-custom .navbar-header {
    float: none;
  }
  .navbar-custom .navbar-toggle {
    display: block;
  }
  .navbar-custom .collapse {
    display: none !important;
  }
  .navbar-custom .collapse.in {
    display: block !important;
  }
}
.brand-heading {
  position: relative;
  display: inline;
  font-size: 80px;
  line-height: 1.4em;
  font-weight: normal;
  margin: 0;
  top: 12px;
  letter-spacing: 8px;
}
.brand-heading:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 6px;
  border-bottom: 1px solid #929292;
}
.brand-text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .brand {
    padding-top: 160px;
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: bottom;
  color: #000;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .brand-heading {
    font-size: 110px;
  }
  .intro .brand-text {
    font-size: 24px;
    margin-bottom: 100px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #000;
  border-radius: 100% !important;
  font-size: 40px;
  color: #000;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: black;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.content-section h2 {
  background-color: black;
  color: white;
  line-height: 1.4em;
  font-weight: normal;
  padding: 18px 0;
  margin: 0 0 40px 0;
}
.content-section h2.no-spacing {
  margin: 0;
}
.content-section.no-spacing {
  padding: 0;
}
.comparison {
  margin: 0 10px 40px;
  text-align: left;
  position: relative;
}
.comparison img {
  width: 100%;
}
.comparison span {
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 15px;
}
@media (min-width: 768px) {
  .comparison span {
    font-size: 36px;
    top: 30px;
    left: 30px;
  }
}
.install-instructions {
  text-align: left;
  color: #929292;
  font-size: 16px;
}
.install-instructions h3 {
  font-weight: 300;
}
.install-instructions p {
  padding: 0 50px 0 0;
}
.install-instructions .steps {
  padding: 80px 25px 30px 0;
}
.install-instructions .steps img {
  width: 100%;
}
.install-instructions .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.install-instructions .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.buy-links div h3,
.buy-links a h3 {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.buy-links div:hover h3,
.buy-links a:hover h3 {
  opacity: 0.5;
}
.buy-links div:hover .coming-soon,
.buy-links a:hover .coming-soon {
  opacity: 0.8;
}
.buy-links div:hover .coming-soon span,
.buy-links a:hover .coming-soon span {
  top: 25%;
}
.buy-links div .coming-soon,
.buy-links a .coming-soon {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0.3;
}
.buy-links div .coming-soon span,
.buy-links a .coming-soon span {
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  position: absolute;
  text-transform: uppercase;
  left: 25%;
  top: 30%;
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  font-size: 3em;
  color: #929292;
}
@media (max-width: 500px) {
  .buy-links div .coming-soon span,
  .buy-links a .coming-soon span {
    left: 20%;
    font-size: 1.8em;
  }
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 80px;
  }
}
footer {
  padding: 50px 0 0;
  background-color: #4f4f4f;
  clear: both;
  color: #FFF;
}
footer p {
  margin: 0;
}
footer .footer-links {
  text-align: center;
}
@media (min-width: 992px) {
  footer .footer-links {
    text-align: left;
  }
}
footer .footer-links .row {
  margin-bottom: 30px;
}
footer .footer-links h4 {
  font-size: 24px;
  text-transform: none;
  margin: 0 0 15px;
}
footer .footer-links ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
footer .footer-links ul a {
  color: #FFF;
}
footer .footer-links ul a:hover {
  opacity: 0.7;
}
footer .social-links {
  background-color: #000;
  overflow: hidden;
}
footer .social-links a {
  display: block;
}
footer .social-links * {
  box-sizing: border-box;
}
footer .social-links ul {
  text-align: center;
  line-height: 26px;
  padding: 0;
  margin: 20px 0;
}
@media (min-width: 992px) {
  footer .social-links ul {
    text-align: left;
    float: left;
  }
}
footer .social-links ul li {
  display: inline-block;
  font-size: 10px;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  cursor: pointer;
  background: url(img/social-sprite.png) no-repeat;
  background-size: auto 6em;
  text-indent: -9999em;
  text-align: left;
  opacity: .5;
  transition: opacity 250ms ease-out;
}
footer .social-links ul li.social-instagram {
  background-position: -18em -3em;
}
footer .social-links ul li.social-pinterest {
  background-position: -6em -3em;
}
footer .social-links ul li.social-twitter {
  background-position: -3em -3em;
}
footer .social-links ul li.social-googleplus {
  background-position: -9em -3em;
}
footer .social-links ul li.social-youtube {
  background-position: -15em -3em;
}
footer .social-links ul li.social-tumblr {
  background-position: -12em -3em;
}
footer .social-links ul li.social-facebook {
  background-position: 0em -3em;
}
footer .social-links ul li:hover {
  opacity: 1;
}
#n_home .hamburger-nav {
  display: block;
  border-right: 1px solid #FFF;
}
@media (max-width: 345px) {
  #n_home .hamburger-nav {
    display: none;
  }
}
#n_home .navbar-custom {
  background-color: transparent;
}
#n_home .navbar-custom.top-nav-collapse {
  background-color: #000;
}
#n_home .navbar-fixed-top {
  position: fixed;
}
#n_home p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  #n_home p {
    margin: 0 0 35px;
    font-size: 27px;
    line-height: 1.6;
  }
}
@media (max-width: 768px) {
  .hamburger {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ico-cart {
    margin-left: 15px;
    margin-right: 15px;
  }
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.nactivity {
  display: none;
}
